@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        @apply scroll-smooth;
    }
    body {
        --text-color: #f1f1f1;
        --background-color: #121212;
        --accent-color: #1d1d1d;
        --primary-color: #6883ba;
        --secondary-color: #3d3b8e;
        @apply text-base font-poppins leading-6 font-normal transition overflow-x-hidden;
    }
    body, .header, .mobileMenuWindow {
        @apply bg-background text-font scroll-smooth;
    }
    h1 {
       @apply text-4xl lg:text-7xl font-semibold; 
    }
    select option {
        @apply font-poppins text-xl;
        -moz-font-family: "Poppins", "ui-serif";
    }
    .page {
        @apply min-h-screen relative;
    }
    .header-item {
        @apply ml-5 transition-all relative inline-block font-medium text-base hover:text-font hover:opacity-80;
    }
    .header-item:hover:after {
        @apply opacity-100 -bottom-0.75;
    }

    .mobile-header-item {
        @apply font-medium text-lg py-1 w-fit;
    }
    .content {
        @apply pt-32 pb-[36rem] lg:pb-[24rem] adjustSize;
    }
    .adjustSize {
        @apply mx-16 lg:mx-auto lg:max-w-4xl 2xl:max-w-7xl;
    }
    .linkButton {
        @apply text-base lg:text-lg py-3 px-6 border-2 border-font opacity-70 hover:opacity-90 transition;
    }
}